<div class="background">

  <div class="year-chooser" *ngIf="yearChooserVisible">
    <button class="year-div" (click)="getQualifyResultsForYear(2015)"> 2015</button>
    <button class="year-div" (click)="getQualifyResultsForYear(2016)"> 2016</button>
    <button class="year-div" (click)="getQualifyResultsForYear(2017)"> 2017</button>
  </div>
  <app-result-preview (back)="showChooser($event)" *ngIf="!yearChooserVisible" [Result]="result"></app-result-preview>
</div>


