.background {
  background-image: url("src/assets/f1background.jpg");
  background-size: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.year-chooser{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.year-div{
  width: 400px;
  height: 400px;
  background: darkgray;
  opacity: 0.7;
  font-size: 35px;
  border-radius: 50px;
  margin-right: 10px;

}
