<div class="wrapper-div">
  <button (click)="goToHomePage()">Back</button>
  <div class="average-time-div">
    <h2>Average time :{{this.Result.averageTime}}</h2>
  </div>
  <div class="results-div">
    <div class="max-time-div">
      <mat-list>
        <div mat-subheader><h1 class="info-text">Worst time</h1></div>

        <mat-list-item>
          <div mat-line class="info-text">Name: {{ maxTimeDriver.givenName }}</div>
          <div mat-line class="info-text">Name: {{ maxTimeDriver.givenName }}</div>
          <div mat-line class="info-text">Last Name: {{maxTimeDriver.familyName}} </div>
          <div mat-line class="info-text">Code: {{maxTimeDriver.code}} </div>
          <div mat-line class="info-text">Nationality: {{maxTimeDriver.nationality}} </div>
          <div mat-line class="info-text">Date of birth: {{maxTimeDriver.dateOfBirth}} </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader class="info-text">Constructor</div>
        <mat-list-item>
          <div mat-line class="info-text">Name: {{maxTimeConstructor.name}}</div>
          <div mat-line class="info-text">Nationality:{{maxTimeConstructor.nationality}} </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader class="info-text">Times</div>
        <mat-list-item>
          <div mat-line class="info-text">Q1:{{maxTimeResult.Q1}}</div>
          <div mat-line class="info-text">Q2:{{maxTimeResult.Q2}} </div>
          <div mat-line class="info-text">Q3:{{maxTimeResult.Q3}} </div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="results-div">
      <div class="min-time-div">
        <mat-list>
          <div mat-subheader><h1 class="info-text">Best time</h1></div>
          <mat-list-item>
            <div mat-line class="info-text">Name: {{ minTimeDriver.givenName }}</div>
            <div mat-line class="info-text">Last Name: {{minTimeDriver.familyName}} </div>
            <div mat-line class="info-text">Code: {{minTimeDriver.code}} </div>
            <div mat-line class="info-text">Nationality: {{minTimeDriver.nationality}} </div>
            <div mat-line class="info-text">Date of birth: {{minTimeDriver.dateOfBirth}} </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <div mat-subheader class="info-text">Constructor</div>
          <mat-list-item>
            <div mat-line class="info-text">Name: {{minTimeConstructor.name}}</div>
            <div mat-line class="info-text">Nationality:{{minTimeConstructor.nationality}} </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <div mat-subheader class="info-text">Times</div>
          <mat-list-item>
            <div mat-line class="info-text">Q1: {{minTimeResult.Q1}}</div>
            <div mat-line class="info-text">Q2:{{minTimeResult.Q2}} </div>
            <div mat-line class="info-text">Q3:{{minTimeResult.Q3}} </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
