.wrapper-div {
  color: lightgray;
}


.results-div {
  display: flex;
  flex-direction: row;
}

.average-time-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-text {
  font-size: 50px;
  color: lightgray;
}

.results-div {
  display: flex;
  justify-content: space-around;
}
